html {
  font-size: 25px;
}

#parent {
  font-size: 1.5em;
  width: 75%;
  border: 2px solid black;
  padding: 10px;
}

#red {
  font-size: 1em;
  background: red;
  width: 50%;
}

#green {
  font-size: 16px;
  background: green;
  width: 10rem;
}

#blue {
  font-size: 1rem;
  background: blue;
  width: 50vw;
}

p {
  width: 60ch;
}

div {
  margin: 10px;
  color: white;
}
